.Queue,
.In.Progress,
.Done {
  color: #4c525a;
  font-weight: 300;
  font-size: 1.5em;
  border-bottom: 1px dotted black;
  width: 80%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0em 0em 0em 0em;
  /* margin-left: 20%;
  margin-right: 20%; */
}

