.card1,
.card2,
.card3 {
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: yellow; */
  border-radius: 5px;
}

.cardTitle {
  font-size: 1.15em;
  cursor: pointer;
}

.cardLowerRow {
  display: flex;
  margin: 0.25em;
  width: 100%;
  justify-content: space-between;
}

.cardPriority,
.cardCreated {
  font-size: 0.8em;
  margin: 0.25em;
}

.card1 {
  background-color: #fdf2de;
  border: 1px solid #f5ba49;
}

.card1 button {
  color: #f5ba49;
}

.card2 {
  background-color: #e3f8ca;
  border: 1px solid #8dd045;
}

.card2 button {
  color: #8dd045;
}

.card3 {
  background-color: #f7f8fb;
  border: 1px solid #d3d7e1;
}

.card3 button {
  color: #d3d7e1;
}
